// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$body-color:              #FCFBFB;  // used as the body background
$body-color-darker:       #F1F1F1;  // used as background color

$main-color:              #2e5c77;  // used as color contrast to main color
$main-color-lighter:      #6AC8D5;
$main-color-darker:       #068597;
//$main-color-lighter:      #799CB0;
//$main-color-darker:       #1A4762;

$highlight-color:         #FACC0A;  // used for buttons, teaser
$highlight-color-lighter: #FFDA3F;
$highlight-color-darker:  #C49F00;

$highlight-color-var:     #D53421;  // used for contrast to body-color

$text-color:              #FAF5F8;  // main text color, should look fine with main color
$text-color-var:          #322625;  // alternative text color, should look fine with body color

$main-color-var:          #000000;  // optional, complementary to base color
$highlight-color-var:     #000000;  // used for button hover effects, should be complementary to highlight color
