.btn-primary {
  color: $main-color;
  background-color: $body-color;
  border: 2px solid $main-color;
  border-radius: 5px;
  &:hover {
    color: $main-color-darker;
    background-color: $highlight-color;
    border-color: $main-color-darker;
  }
  &:active {
    color: $highlight-color-var;
    background-color: $main-color;
    border-color: $main-color;
  }
}

.btn-sidekick {
  position: fixed;
  right: 0;
  border: 2px solid $main-color;
  border-right: 0;
  background-color: $highlight-color;
  border-radius: 10px 0 0 10px;
  width: 50px;
  height: 50px;
  z-index: 9999;
}

.btn-sidekick-mobile {
  position: fixed;
  bottom: 0!important;
  border: 2px solid $main-color;
  border-bottom: 0;
  background-color: $highlight-color;
  border-radius: 10px 10px 0 0;
  width: 33px;
  height: 28px;
  z-index: 9999;
}

#qa-btn {
  bottom: 16%;
}

#toc-btn {
  bottom: 9%;
}

@media screen and (max-width: 575px) {
  #qa-btn {
    right: 2%!important;
  }
  #toc-btn {
    right: 12%!important;
  }
}

@media screen and (max-width: 411px) {
  #qa-btn {
    right: 2%!important;
  }
  #toc-btn {
    right: 15%!important;
  }
}