.btn-primary {
  color: $main-color;
  background-color: $body-color;
  border: 2px solid $main-color;
  border-radius: 5px;
  &:hover {
    color: $main-color-darker;
    background-color: $highlight-color;
    border-color: $main-color-darker;
  }
  &:active {
    color: $highlight-color-var;
    background-color: $main-color;
    border-color: $main-color;
  }
}

.btn-side-kick {
  position: fixed;
  right: 0;
  border: 2px solid $main-color;
  border-right: 0;
  background-color: $highlight-color;
  border-radius: 10px 0 0 10px;
  width: 50px;
  height: 50px;
  z-index: 9999;
}

#qa-btn {
  bottom: 16%;
}

#toc-btn {
  bottom: 9%;
}

@media screen and (max-width: 575px) {
  .btn-side-kick {
    bottom: 0!important;
    border-bottom: 0!important;
    border-right: 2px solid $main-color!important;
    border-radius: 10px 10px 0 0!important;
  }
  #qa-btn {
    left: 35%!important;
  }
  #toc-btn {
    right: 35%!important;
  }
}