.wpcf7-form-control:not(.wpcf7-submit):not(.wpcf7-range):not(.wpcf7-checkbox):not(.wpcf7-radio):not(.wpcf7-acceptance):not(.wpcf7-file) {
  @extend .form-control;
}

.wpcf7-submit, .wpcf7-form-control {
  @extend .btn;
  @extend .btn-primary;
}

.form-control {
  border: 2px solid $main-color-darker;
  margin-bottom: 20px;
  text-align: left!important;
}


.contact-form {
  padding-top: 25px;
}

input[draggable="true"] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
