ul.social-networks {
  list-style-type: none;
  padding-left: 0;
  li {
    float: left;
    padding-right: 20px;
    &:last-of-type {
      padding-right: 0;
    }
  }
  .fa {
    font-size: 22px;
  }
}

ul.prev-next-nav {
  list-style-type: none;
  padding-left: 0;
  li {
    float: left;
    padding: 20px;
  }
  li.pre-item, li.next-item {
    width: 40%;
  }
  li.overview {
    width: 20%;
  }
  .fa {
    font-size: 22px;
  }
}

.project-item ul {
  list-style: none;
  padding: 0;
  li {
    padding: 5px 5px 5px 0;
    &:before {
      font-family: FontAwesome;
      padding-right: 10px;
      color: $text-color-var;
    }
  }
  li.tech-item:before {
    content: "\f02b";
  }
  li.project-task:before {
    content: "\f00c";
  }
}

ul.list-inline {
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    display: inline-block;
  }
}

@mixin list-inline-sep($sep-item) {
  ul.list-inline-sep {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    li {
      display: inline-block;
      &:after {
        content: $sep-item;
        margin: 0 9px 0 10px;
        color: $text-color;
      }
      &:last-of-type:after {
        content: normal;
      }
    }
  }
}