.portfolio {
  .card {
    .card-img-top {
      padding: 20px 20px 10px 20px;
      height: 150px;
    }
    .card-block {
      padding-top: 0;
    }
    .card-footer {
      width: 100%;
      text-align: center;
      p {
        margin-bottom: 0;
      }
      p:before {
        font-family: FontAwesome;
        content: "\f073";
        padding-right: 5px;
      }
    }
  }
}

.teasers {
  .card-block {
    padding-top: 0;
  }
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  background: $body-color;
  border-radius: 5px;
  margin: 25px 0;
  .card-top {
    overflow: hidden;
    background-color: $main-color;
    background: linear-gradient(7deg, $main-color-lighter 0%, $main-color-darker 55%, $main-color 99%);
    height: 120px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .card-image {
    width: 120px;
    margin: -65px auto 0;
    background: $body-color;
    border: 15px solid $body-color;
    border-radius: 20%;
  }
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, .35);
  }
}

.card-header a:hover, a:active, a:focus, a:visited {
  text-decoration: none;
}





