#testimonial-carousel {
  .carousel {
    background-color: $body-color;
    border-radius: 20px;
    .carousel-item {
      height: 150px;
    }
  }
}

@media screen and (max-width: 575px) {
  #testimonial-carousel {
    .carousel {
      margin: 0px;
    }
  }
}

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:hover,
.carousel-control-next:hover,
.carousel-control-prev:active,
.carousel-control-next:active,
.carousel-control-prev:focus,
.carousel-control-next:focus {
  color: $main-color;
}

.blockquote {
  border-left: none;
  margin-left: 10%;
  position: relative;
  max-width: 95%;
  .footer {
    margin-left: 27px;
    font-size: .8em;
  }
  &:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    color: $highlight-color-var;
    position: absolute;
  }
  p{
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .blockquote {
    font-size: .8em;
  }

}

#project-carousel {
  margin-left: 50px;
  margin-right: 50px;
  .carousel-control-next {
    margin-right: -50px;
  }
  .carousel-control-prev {
    margin-left: -50px;
  }
  .wrapper {
    padding: 100px;
  }
  .carousel-inner {
    height: 500px;
  }
}


