h1, h2, h3 {
  color: $text-color-var;
}

p {
  color: $text-color-var;
}

.card-header a:hover, a:active, a:focus, a:visited {
    text-decoration: none;
  }

.lead-description {
  font-size: 1.25rem;
  font-weight: 300;
  padding-bottom: 50px;
}

@media screen and (max-width: 512px) {
  .jumbotron h1 {
    font-size: 1.25em;
  }
  .jumbotron p {
    font-size: 1em;
  }
}