// general footer styles
footer {
  .social-area {
    background: $main-color;
    box-shadow: 0 2px 20px -5px $main-color-darker;
    .fa-twitter, .fa-github, .fa-xing, .fa-google-plus {
      color: $text-color;
      &:hover {
        color: $highlight-color-lighter;
      }
    }
  }
  .legal-area {
    background: $main-color-darker;
    box-shadow: 0 2px 20px -5px $main-color-darker;
    padding: 10px;
    border-radius: 0 0 5px 5px;
  }
}

// footer sidebar styles
footer {
  .sb-social, .sb-copyright, .sb-imprint {
    padding: 10px;
    vertical-align: middle;
    p {
      margin: 0;
    }
  }
  .sb-imprint {
    .link {
      padding-left: 10px;
    }
    a {
      color: $body-color;
      text-decoration: none;
      &:hover {
        color: $highlight-color-lighter;
      }
    }
  }
  .sb-social {
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;
      padding: 20px;
    }
  }
}

// footer mobile styles
@media (max-width: 575px) {
  footer {
    .sb-imprint {
      margin-bottom: 20px;
    }
  }
}

