
// general footer styles
footer {
  padding: 20px;
  background-color: $main-color;
  background: linear-gradient(1deg,$main-color 33%,$main-color-darker 99%);
  .social-media {
    .fa {
      color: $text-color;
      font-size: 40px;
      margin: 20px;
      &:hover {
        color: $highlight-color-lighter;
      }
    }
  }
  .copyright {
    padding: 20px;
    padding-left: 35px;
    @media screen and (max-width: 767px) {
      padding-left: 20px;
    }
    color: $text-color;
    .owner {
      padding-top: 4px;
    }
  }
  .imprint {
    padding: 20px;
    padding-right: 40px;
    @media screen and (max-width: 767px) {
    padding-right: 20px;
    }
    @include list-inline-sep("|");
    a {
      color: $body-color;
      text-decoration: none;
      &:hover {
        color: $highlight-color-lighter;
      }
    }
  }
}



// footer mobile styles
@media (max-width: 575px) {  }

