// nav color change

.nav-bg-default {
  background-color: $main-color;
}

.nav-bg-scroll {
  background-color: $main-color;
  opacity: 1!important;
  -webkit-box-shadow: 0 2px 20px -5px $main-color;
  -moz-box-shadow: 0 2px 20px -5px $main-color;
  box-shadow: 0 2px 20px -5px $main-color;
}

// default nav behavior

nav .container {
  padding: 0 40px;
}

.navbar {
  padding: 0;
  .navbar-light .navbar-nav .active > .nav-link {
    color: $text-color;
  }
  .navbar-brand {
    padding: 0;
    margin: 0;
    .nav-img {
      max-height: 50px;
      margin: 12px 0;
    }
  }
  button.navbar-toggler {
    margin: 12px 25px;
  }
  .dropdown-item {
    padding: 2px;
  }
  .dropdown-menu {
    padding: 10px;
    & a:before {
      font-family: FontAwesome;
      content: "\f105";
      margin-right: 5px;
    }
  }
}

// non-toggle nav behavior
@media screen and (min-width: 992px) {
  .navbar-light {
    .navbar-nav {
      // js script adds .highlight to parent nav-link when cursor hovers dropdown-menu
      .highlight {
        background-color: $body-color;
        border-radius: .25rem .25rem 0 0;
        & a.nav-link {
          color: $text-color-var !important;
        }
      }
      .nav-link {
        color: $text-color;
        margin: 0 5px;
        &:hover {
          color: $text-color-var;
          background-color: $body-color;
          border-radius: .25rem;
        }
        &:active {
          color: $text-color;
        }
      }
    }
  }
}

// toggle nav behaviour
@media screen and (max-width: 991px) {
  .navbar-light .navbar-nav {
    background: $main-color;
    padding: 20px 35px;
    .nav-link {
      color: $text-color;
      margin: 10px 0;
      &:before {
        font-family: FontAwesome;
        content: "\f054";
        padding: 0 10px;
      }
      &:hover {
        color: $text-color-var;
        background-color: $body-color;
        max-width: 250px;
        border-radius: 5px;
      }
    }
  }
  .highlight {
    background: transparent !important;
    background-color: transparent !important;
    color: $text-color;
  }
  button {
    outline: none!important;
  }
  .navbar-toggler {
    border: none;
    margin: 12px;
    padding: 0;
    .fa-bars, .fa-times {
      color: $text-color;
    }
  }
  .navbar-collapse .show {
    border-bottom: 2px solid $text-color;
  }
  .nav-img {
    margin-left: 35px!important;
  }
}

// fixes the overlapping of navbar within a container
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// navbar in combination with non-toggle admin bar
.admin-bar .navbar {
  top: 46px;
}

// navbar in combination with toggle admin bar
@media screen and (min-width: 783px) {
  .admin-bar .navbar {
    top: 32px;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}



