// nav color change

.nav-bg-default {
  background-color: $main-color;
}

.nav-bg-scroll {
  background-color: $main-color;
  height: 60px;
  opacity: 1!important;
  -webkit-box-shadow: 0 2px 20px -5px $main-color;
  -moz-box-shadow: 0 2px 20px -5px $main-color;
  box-shadow: 0 2px 20px -5px $main-color;
  .nav-img {
    max-height: 35px!important;
  }
  button.navbar-toggler {
    margin: 9px!important;
  }
}

// default nav behavior
.navbar {
  padding: 0;
  .navbar-light .navbar-nav .active > .nav-link {
    color: $text-color;
  }
  .nav-img {
    max-height: 50px;
    margin: 12px 0;
  }
  button.navbar-toggler {
    margin: 15px;
  }
  .dropdown-item {
    padding: 2px;
  }
  .dropdown-menu {
    padding: 10px;
    & a:before {
      font-family: FontAwesome;
      content: "\f105";
      margin-right: 5px;
    }
  }
}

// non-toggle nav behavior
@media screen and (min-width: 768px) {
  .navbar-light {
    .navbar-nav {
      .menu-item-has-children:hover {
        .nav-link {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        .dropdown-menu {
          display: block;
          margin: 0 !important;
          border: none !important;
          border-top-left-radius: 0 !important;
          .dropdown-item:active, .dropdown-item.active {
            background-color: $highlight-color;
            color: $main-color-darker;
          }
        }
      }
      // js script adds .highlight to parent nav-link when cursor hovers dropdown-menu
      .highlight {
        background-color: $body-color;
        border-radius: .25rem .25rem 0 0;
        & a.nav-link {
          color: $text-color-var !important;
        }
      }
      .nav-link {
        color: $text-color;
        &:hover {
          color: $text-color-var;
          background-color: $body-color;
          border-radius: .25rem;
        }
        &:active {
          color: $text-color;
        }
      }
    }
  }
}

// toggle nav behaviour
@media screen and (max-width: 767px) {
  .navbar-light .navbar-nav {
    background: $main-color;
    padding: 20px 35px;
    .nav-link {
      color: $text-color;
      &:hover {
        color: $text-color-var;
        background-color: $body-color;
      }
    }
  }
  .dropdown-menu {
    display: inline-block !important;
    background: none;
    border: none;
    .dropdown-item.active, dropdown-item:active, dropdown-item:focus, .dropdown-item:visited {
      background-color: transparent;
      color: $text-color !important;
    }
    .dropdown-item:hover {
      color: $text-color-var !important;
      background-color: $body-color;
    }
  }
  .highlight {
    background: transparent !important;
    background-color: transparent !important;
    color: $text-color;
  }
}

// fixes the overlapping of navbar within a container
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// navbar in combination with non-toggle admin bar
.admin-bar .navbar {
  top: 46px;
}

// navbar in combination with toggle admin bar
@media screen and (min-width: 783px) {
  .admin-bar .navbar {
    top: 32px;
  }
}

@media screen and (max-width: 600px) {
  #wpadminbar {
    position: fixed;
  }
}



