#anchor-nav {
  padding-top: 20px;
  margin-top: -20px;
}

.navbar {
  padding: 0;
}



.nav-bg-default {
  background-color: transparent;
}

.nav-bg-scroll {
  background-color: $main-color;
  -webkit-box-shadow: 0 2px 20px -5px $main-color;
  -moz-box-shadow: 0 2px 20px -5px $main-color;
  box-shadow: 0 2px 20px -5px $main-color;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: $text-color;
      border-bottom: 2px solid transparent;
      border-top: 2px solid transparent;
      &:hover {
        color: $text-color;
        border-bottom: 2px solid $highlight-color-lighter;
        border-top: 2px solid $highlight-color-lighter;
      }
      &:active {
        color: $text-color;
      }
    }
  }
}

.navbar-light .navbar-nav .active>.nav-link {
  color: $text-color;
}


.nav-img {
  max-height: 50px;
  margin: 12px 0;
}

.navbar-light .navbar-toggler {
  margin: 15px;
}

@media screen and (max-width: 767px){
  .navbar-nav {
    background: $main-color;
    padding: 20px 35px;
  }
}

// fixes the overlapping of navbar within a container
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// navbar in combnation with admin bar
.admin-bar .navbar {
  top: 46px;
}

@media screen and (min-width: 783px) {
  .admin-bar .navbar {
    top: 32px;
  }
}