.hero-img {
  margin-top: 82px;
}

.img-enlarge {
  position: relative;
  cursor: zoom-in;
  margin-top: 90px;
  .img-description {
    float: left;
    background: $body-color-darker;
    padding: 10px;
    max-width: 364px;
    border: 2px solid $body-color-darker;
    p {
      margin: 0;
    }
  }
  img {
    border: 2px solid $body-color-darker;
  }
  .no-img-border {
    border: none!important;
  }
}

