
body {
  background-color: $body-color;
}

section.container.background {
  background-color: $body-color;
  border-radius: 5px 5px 0 0;
  padding: 0;
}

@media screen and (max-width: 575px) {
  section.container.background {
    margin-bottom: 0;
  }
}

section {
  padding: 25px;
  .anchor {
    padding-top: 150px;
    margin-top: -150px;
  }
}

section.welcome {
  display: flex;
  align-items: center;
  background-color: $main-color;
  background: linear-gradient(10deg, $main-color-lighter 2%, $main-color-darker 33%, $main-color 77%);
  height: calc(100vh - 0px);
  position: relative;
  .lets-talk {
    position: relative;
    &:after {
      font-family: FontAwesome;
      content: "\f0e6";
      position: absolute;
      margin-left: 5px;
    }
  }
}

section.teasers {
  padding-top: 150px;
  padding-bottom: 100px;
}

section.testimonials {
  padding: 100px 50px;
}

section.contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

section.site-intro {
  padding-top: 40px;
  position: inherit;
  z-index: 999;
  h3.text-muted {
    margin-top: 30px;
  }
  .divider {
    position: relative;
    width: 5%;
    border-bottom: 5px solid $main-color;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

section.content {
  .content-item {
    margin-bottom: 100px;
  }
  .content-block-b {
    white-space: nowrap;
    img {
      display: inline;
      margin: 0 10px 0 0;
    }
    h2 {
      display: inline;
      white-space: nowrap;
    }
  }
}

section.toc-contact-form {
  padding-top: 0;
}

section.project-gallery {
  .show-all-devices {
    margin-top: 120px;
    margin-bottom: 60px;
    height: 450px;
    display: none;
    .container {
      width: 600px;
      margin: 0 auto;
      text-align: center;
      margin-top: 20px;
      transition: all .7s ease;
      &.tablet {
        width: 350px;
      }
      &.mobile {
        width: 250px;
      }
    }
  }
  .show-mobile-only {
    margin-top: 120px;
    margin-bottom: 20px;
    height: 450px;
    display: none;
    .screenshot-mobile {
      display: inherit!important;
    }
  }
  .screenshot-desktop {
    display: inherit;
  }
  .screenshot-tablet,
  .screenshot-mobile {
    display: none;
  }
}

section.project-info {
  .project-box {
    border-radius: .25rem;
    border: 2px solid $main-color-lighter;
    background: $body-color-darker;
    display: table;
  }
  .project-item {
    padding-bottom: 20px;
    margin-right: 20px;
    ul {
      list-style: none;
      padding: 0;
      li {
        padding: 10px;
        &:before {
          font-family: FontAwesome;
          content: "\f02b";
          padding-right: 10px;
        }
      }
    }
  }
  img {
      padding-top: 20px;
  }
  .project-about {
    padding: 25px;
    p, a {
      font-size: 16px;
      font-weight: lighter;
    }
    .project-link:before {
      font-family: FontAwesome;
      content: "\f105";
      font-size: 20px;
      padding-right: 10px;
    }
  }
}






