/*body {
  background-color: $body-color;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232e5c77' fill-opacity='0.3' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}*/

body {
  background-color: $body-color;
}

section.container.background {
  background-color: $body-color;
  border-radius: 5px 5px 0 0;
  padding: 0;
}

@media screen and (max-width: 575px) {
  section.container.background {
    margin-bottom: 0;
  }
}

section {
  padding: 25px;
  .anchor {
    padding-top: 150px;
    margin-top: -150px;
  }
}

section.welcome {
  display: flex;
  align-items: center;
  background-color: $main-color;
  height: calc(100vh - 0px);
  position: relative;
  .lets-talk {
    position: relative;
    &:after {
      font-family: FontAwesome;
      content: "\f0e6";
      position: absolute;
      margin-left: 5px;
    }
  }
}

section.teasers {
  padding-top: 150px;
  padding-bottom: 100px;
}

section.testimonials {
  padding: 100px 50px;
}

section.contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

section.site-intro {
  margin-top: -5%;
  padding-top: 40px;
  position: inherit;
  z-index: 999;
  h3.text-muted {
    margin-top: 30px;
  }
  .divider {
    position: relative;
    width: 5%;
    border-bottom: 5px solid $main-color;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

section.content {
  .content-item {
    margin-bottom: 100px;
  }
  .content-block-b {
    white-space: nowrap;
    img {
      display: inline;
      margin: 0 10px 0 0;
    }
    h2 {
      display: inline;
      white-space: nowrap;
    }
  }
}






