body {
  background-color: $body-color-darker;
  position: relative;
}

.container.color {
  background-color: $body-color;
  box-shadow: 0 0 4px rgba(0, 0, 0, .13);
  padding: 0;
}

section {
  padding: 20px;
  .anchor {
    padding-top: 150px;
    margin-top: -150px;
  }
}

section.welcome {
  display: flex;
  align-items: center;
  background-color: $main-color;
  height: calc(100vh - 0px);
  position: relative;
  .lets-talk {
    position: relative;
    &:after {
      font-family: FontAwesome;
      content: "\f0e6";
      position: absolute;
      margin-left: 5px;
    }
  }
}

section.teasers {
  padding: 150px 50px 100px 50px;
}

section.testimonials {
  padding: 100px 50px;
}

section.contact {
  padding: 100px 50px;
}

section.site-intro {
  margin-top: -5%;
  .divider {
    position: relative;
    width: 5%;
    border-bottom: 5px solid $main-color;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

section.content {
  .content-item {
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .content-block-b {
    white-space: nowrap;
    img {
      display: inline;
    }
    h2 {
      display: inline;
      white-space: nowrap;
      margin: 0 0 0 10px;
    }
  }
}





