.sidebar-box {
  border-radius: .25rem;
  border: 2px solid $main-color-lighter;
  background: $body-color-darker;
  display: table;
  padding: 20px;
  width:100%;
}

.portfolio-nav {
  margin-top: 20px;
  border-radius: .25rem;
  border: 2px solid $main-color-lighter;
  background: $body-color-darker;
  width:100%;
  .d-flex {
    margin: 0;
  }
}